:root {
	--base-white: #EDEBEB;

	--blu-bright: #585A96;
	--blu-light: #343677;
	--blu-main: #1B1B5A;
	--blu-shade: #0A0D3E;
	--blu-darker: #09093B;

	--prp-bright: #774E90;
	--prp-light: #582B72;
	--prp-main: #3E1356;
	--prp-shade: #28043B;
	--prp-darker: #170123;

	--grn-bright: #438181;
	--grn-light: #236666;
	--grn-main: #0E4D4D;
	--grn-shade: #013634;
	--grn-darker: #00201E;

	--yel-bright: #D7BD6F;
	--yel-light: #AA8E3A;
	--yel-main: #816617;
	--yel-shade: #594302;
	--yel-darker: #342700;

	--base-black: #222226;
}

html, body {
	color: var(--base-white);
	background-color: var(--base-black);
	font-size: 100%;
	margin: 0px;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0;
}

h1 {
	color: var(--yel-light);
	font-size: 12em;
}

h2 {
	color: var(--yel-bright);
	font-size: 6em;
}

h3 {
	color: var(--yel-bright);
	font-size: 5em;
}

h4 {
	color: var(--base-white);
	font-size: 4em;
}

h5 {
	color: var(--base-white);
	font-size: 3em;
}

h6 {
	color: var(--base-white);
	font-size: 2em;
}

p, button, a, label, textarea, input {
	font-size: 1.5em;
}


.inputbar {
	display: flex;
	flex-wrap: nowrap;
	justify-content: left;
	width: fit-content;
	padding-top: 6px;
	padding-bottom: 6px;
}

.inputbar * {
	margin-right: 12px;
}

.navbar {
	position: fixed;
	top: 0;
	--outer-ring: 24px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: transparent;
	width: calc(100vw - var(--outer-ring)*2);
	margin: var(--outer-ring);
	padding:
		6px 0
		6px 0;
}


.navbar > .spacing {
	flex-grow: 1;
}

.navbar .button,
.navbar	button {
	margin-left: 12px;
}

 button,
.button {
	display: block;
	width: fit-content;
	color: inherit;
	padding: 6px 12px 6px 12px;
	border-radius: 6px;
	background-color: var(--yel-main);
	box-shadow:
		0 6px var(--yel-shade),
		0 6px 6px black;
	text-decoration: none;
	border-style: none;
	border-width: 0;
}


 button:hover,
 button.hover,
.button:hover,
.button.hover {
	background-color: var(--yel-light)
}

 button:active,
 button.active,
.button:active,
.button.active {
	background-color: var(--yel-light);
	box-shadow:
		0 2px var(--yel-shade),
		0 2px 18px var(--yel-bright);
	transform: translateY(4px);
}

.call-to-action {
	padding: 30px;
	background-color: var(--yel-main);
	border: none;
	border-radius: 18px;
	font: inherit;
	box-shadow:
		0 18px var(--yel-shade),
		0 18px 18px black;;
}

.call-to-action:active,
.call-to-action.active {
	background-color: var(--yel-light);
	box-shadow:
		0 6px var(--yel-shade),
		0 6px 54px var(--yel-bright);
	transform: translateY(12px);
}

.button:hover {
	cursor: pointer;
}

.logo {
	width: 400px
}

.logo-small img{
	height: 120px;
	width: 120px;
}

.brand {
	margin-top: 200px;
	color: transparent;
	text-shadow:
		 0px	0px	0px var(--yel-bright),
		 1px	1px	1px var(--yel-light),
		 3px	3px	3px var(--yel-main),
		 6px	6px	6px var(--yel-shade),
		 9px	9px	9px var(--yel-darker);
}

#content {
	margin: 20px;
}


.placeholderButtonArray {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.placeholderButtonArray * {
	margin: 6px;
	width: 240px;
}


#the-team {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-self: center;
	width: 100%;
	color: var(--yel-bright)
}

#the-team > * {
	text-align: center;
}

.team-photo {
	border-style: solid;
	border-color: var(--yel-bright);
	border-radius: 50%;
	width: 85%;
}
nav.button,
nav button,
.call-to-action.button,
.call-to-action button {
	display: block;
}

#keywords * {
	padding-top: 6px;
	padding-bottom: 6px
}
